name: ci
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: code ckeckout
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: install dependencies
        run: npm install
      - name: build project
        run: npm run build
      - name: lint code
        run: npm run lint
      - name: Trivy Scan - File system
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          format: table
          exit-code: 1
          ignore-unfixed: true
      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/cicd:${{ github.sha }} .
      - name: Trivy Scan - Docker Image
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: ${{ secrets.DOCKER_USERNAME }}/cicd:${{ github.sha }}
          format: table
          exit-code: 1
          ignore-unfixed: true

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/myapp:${{ github.sha }}
